__pycache__/
.cmake/
Simulator/build/CMakeFiles/
Simulator/build/.ninja_log
Simulator/build/.ninja_deps
Simulator/build/CMakeCache.txt
Simulator/build/Simulator
Simulator/build/Makefile
Simulator/build/compile_commands.json
Simulator/build/cmake_install.cmake
Simulator/src/cxxopts-*/
Simulator/Simulator.code-workspace
*.hex
ghost.sublime-workspace
*.prof
